<div id="home-wrapper" class="ui grid padded">
  <div class="middle aligned row home-section" id="landing-jumbotron">
    <div class="center aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div id="landing-info">
        <h1 class="ui header">
          Relax, entertain, and be Old. 
          <hr/>
          <div class="sub header">
              Take your next retreat to the Zenith Society Resort & Spa conveniently located in the Florida conservation wetlands.
          </div>
        </h1>   
      </div>
    </div>
  </div>
  <div class="middle aligned center aligned mobile reversed row home-section">
    <app-event-calendar class="center aligned top aligned sixteen wide mobile twelve wide tablet ten wide computer column"></app-event-calendar>
    <div class="left aligned sixteen wide mobile four wide tablet six wide computer column">
      <h2 class="massive ui center aligned header">Events happening weekly</h2>
      <br/><br/>
      <h3 class="ui center aligned header">
        Join our active, lively community
        <div class="sub header">
          We offer all kinds of events and activities -- we're sure you'll find something you'll love to do at Zenith.
        </div>
      </h3>
      <div id="landing-events-info">
        <div class="left aligned ui horizontal list" >
          <br/>
          <hr/>
          <br/>
          <div class="item">
            <div class="header">Active</div> 
            <div class="list">
              <div class="item">Horseback Riding</div>
              <div class="item">Lacrosse</div>
              <div class="item">Polo</div>
            </div>
          </div>
          <div class="item">
            <div class="header">Social</div> 
            <div class="list">
              <div class="item">Monthly Cotillion</div>
              <div class="item">Keg Party</div>
              <div class="item">Ice Cream Social</div>
            </div>
          </div>
          <div class="item">
            <div class="header">Arts & Culture</div> 
            <div class="list">
              <div class="item">Zenith Art Gallery Tours</div>
              <div class="item">Cinema</div>
              <div class="item">Wine Tasting</div>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="centered middle aligned row home-section">
    
  </div>
</div>