
<div class="calendar-container">
  <div class="ui borderless top attached inverted menu">
    <div class="ui item">
        <h4>Event Schedule</h4>      
    </div>
    <div class="ui right aligned item">
      <div class="ui compact buttons">
        <button class="tiny ui compact icon primary tiny button" id="calendar-nav--decr" (click)="changeWeek($event)">
          <i class="chevron left icon"></i>  
        </button>   
        <button class="ui compact button" id="calendar-nav--weekof" (click)="changeWeek($event)">{{weekOf}}</button>
        <button class="tiny ui compact icon primary tiny button" id="calendar-nav--incr" (click)="changeWeek($event)">
          <i class="chevron right icon"></i>  
        </button>  
      </div>
    </div>
  </div>
  
  <table class="ui compact bottom attached segment unstackable striped celled inverted table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
    <tbody *ngFor="let date of week; let i = index">
      <tr class="center aligned">
        <td colspan=3>{{date.toDateString()}}</td>
      </tr>
      <tr *ngIf="apiValues[i] == undefined || apiValues[i].length == 0 ; else elseBlock">
        <td colspan=3>No events on this day</td>
      </tr>
      <ng-template #elseBlock>
        <tr *ngFor="let event of apiValues[i]">
          <td>{{event.activity.activityDescription}}</td>
          <td>{{event.startDate.split("T")[1].substr(0,5)}}</td>
          <td>{{event.endDate.split("T")[1].substr(0,5)}}</td>
        </tr>
      </ng-template>
      
    </tbody>
  </table>
</div>