
<div class="calendar-container">
  <div class="ui borderless top attached menu">
    <div class="ui item">
        <h4>Event Schedule</h4>      
    </div>
    <div class="ui right aligned item">
      <div class="ui compact buttons">
        <button class="tiny ui compact icon primary tiny button">
          <i class="chevron left icon"></i>  
        </button>   
        <button class="ui compact button"> Week of: </button>
        <button class="tiny ui compact icon primary tiny button">
          <i class="chevron right icon"></i>  
        </button>  
      </div>
    </div>
  </div>
  
  <table class="ui bottom attached segment unstackable striped celled table">
    <thead>
      <tr>
        <th>#</th>
        <th>Event</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <div class="ui active dimmer">
      <div class="ui loader"></div>
    </div>
    <tbody>
      <tr class="center aligned">
        <td colspan=4>Date of Event</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Golf</td>
        <td>1:00 pm</td>
        <td>4:00 pm</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bingo</td>
        <td>4:00 pm</td>
        <td>5:00 pm</td>
        </tr>
    </tbody>
  </table>
</div>