<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div class="ui menu inverted">
    <a class="item">Zenith Society</a>
    <div class="right menu">
      <a class="item">Register</a>
      <a class="item">Login</a>
    </div>
  </div>
  <div class="ui container">
    <div class="ui grid">
      <div class="centered middle aligned row" id="landing">
        <div class="left floated left aligned six wide column">
          <h1 class="ui header">Zenith Society</h1>   
          <span>Info and tag line.</span>                 
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper-overlay"></div>
</div>