#wrapper {
    background-image: url("http://www.clubcorp.com/var/ezflow_site/storage/images/media/clubs/oakmont-media-folder2/images/hmpg-images/2015-updated-photos/oakmontcountryclub-corinth-tx-patio-960x410/10661847-1-eng-US/OakmontCountryClub-Corinth-TX-patio-960x410_rotatingGalleryFront.jpg");
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}
#wrapper > #wrapper-overlay {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 2;
}
#landing {
    min-height:400px;
}
#landing h1 {
    font-size:30px;
    color:white;
}